.git
.github
node_modules
dist
coverage
docs
tests
scripts
.env
.env.*
!.env.example
*.log
.DS_Store
.mocharc*.json
.eslintrc.json
.prettierrc.json
.prettierignore
README.md
Dockerfile
docker-compose.yml
.dockerignore
